.registration-title {
  font-size: 20px;
  font-weight: 600;
  color: #00739a;
}

.our-agree {
  font-size: 26px;
  color: #00739a;
  font-weight: 600;
}

@media (max-width: 576px) {
  .our-agree {
    font-size: 20px;
    margin: 0 20px;
  }
}
