.registration-title {
  font-size: 26px;
  font-weight: 700;
  color: #00739a;
}

.our-agree {
  font-size: 26px;
  color: #00739a;
  font-weight: 700;
}

.password-strength {
  display: flex;
  align-items: center;
  min-width: 200px;
  gap: 10px;
  font-size: 14px;
}

@media (max-width: 576px) {
  .our-agree {
    font-size: 20px;
    margin: 0 20px;
  }

  .password-strength {
    min-width: 180px;
    font-size: 13px;
  }
}
