@font-face {
  font-family: SourceSansPro;
  src: url("./assets/fonts/SourceSansPro-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: SourceSansPro;
  src: url("./assets/fonts/SourceSansPro-Semibold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: SourceSansPro;
  src: url("./assets/fonts/SourceSansPro-Black.ttf");
  font-weight: 900;
}

* {
  font-family: SourceSansPro, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 16px;
  font-weight: 600;
}
