@font-face {
  font-family: "Source Sans Pro";
  src: url("./assets/fonts/SourceSansPro-Light.eot");
  src: url("./assets/fonts/SourceSansPro-Light.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/SourceSansPro-Light.woff2") format("woff2"),
    url("./assets/fonts/SourceSansPro-Light.woff") format("woff"),
    url("./assets/fonts/SourceSansPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("./assets/fonts/SourceSansPro-Bold.eot");
  src: url("./assets/fonts/SourceSansPro-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/SourceSansPro-Bold.woff2") format("woff2"),
    url("./assets/fonts/SourceSansPro-Bold.woff") format("woff"),
    url("./assets/fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("./assets/fonts/SourceSansPro-Regular.eot");
  src: url("./assets/fonts/SourceSansPro-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/SourceSansPro-Regular.woff2") format("woff2"),
    url("./assets/fonts/SourceSansPro-Regular.woff") format("woff"),
    url("./assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("./assets/fonts/SourceSansPro-Semibold.eot");
  src: url("./assets/fonts/SourceSansPro-Semibold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/SourceSansPro-Semibold.woff2") format("woff2"),
    url("./assets/fonts/SourceSansPro-Semibold.woff") format("woff"),
    url("./assets/fonts/SourceSansPro-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Source Sans Pro";
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 48px;
  line-height: 68px;
  font-weight: normal;
  color: #00739a;
}

.thankyou-contact {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: #000;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill {
  padding: 8px 14px !important;
}

.css-1x5jdmq {
  padding: 8px 14px !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 8px 14px !important;
}

.css-1uvydh2:-webkit-autofill {
  padding: 8px 14px !important;
}

@media (max-width: 576px) {
  h1 {
    font-size: 32px;
    line-height: 48px;
  }

  .thankyou-contact {
    font-size: 16px;
  }
  .phone-input {
    width: 100% !important;
  }
}
