@font-face {
  font-family: SourceSansPro;
  src: url("./assets/fonts/SourceSansPro-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: SourceSansPro;
  src: url("./assets/fonts/SourceSansPro-Semibold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: SourceSansPro;
  src: url("./assets/fonts/SourceSansPro-Black.ttf");
  font-weight: 900;
}

* {
  font-family: SourceSansPro, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 48px;
  line-height: 68px;
  font-weight: 600;
  color: #00739a;
}

.thankyou-contact {
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: #000;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill {
  padding: 8px 14px !important;
}

.css-1x5jdmq {
  padding: 8px 14px !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 8px 14px !important;
}

@media (max-width: 576px) {
  h1 {
    font-size: 32px;
    line-height: 48px;
  }
}
